h1, h2, h3, h4, h5 { font-weight: normal;}

@font-face { font-family: "MolotRegular"; src: url('../assets/Molot.eot'); src: local("../assets/Molot"), local("../assets/Molot"), url('../assets/Molot.woff') format("woff"), url('../assets/Molot.ttf') format("truetype"), url('../assets/Molot.svg#Molot') format("svg"); }


h1, em, #body h3, #disqus_thread h3, h4 { font-family: "MolotRegular", Arial, sans-serif; text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871, 5px 5px 0px #476871, 6px 6px 0px #476871, 7px 7px 0px #476871; }
h4, #body h4 em { font-size: 25px; margin: 25px 0 10px;}

h1 { font-size: 6em; line-height: 1.5; text-align: center; cursor: default; }
h1:hover { color: #e16734; }

body { background: #232927; color: #e3d7bf; text-align: center; font: 12px/18px "Helvetica Neue Light", "HelveticaNeue-Light", "Gill Sans", HelveticaNeue, Arial, "DejaVu LGC Sans Light", sans-serif; text-transform: uppercase; }

a { color: #e3d7bf; text-decoration: none; } 
a:visited { color: #e3d7bf; }
#body ul a, a:hover, a:focus, #body p a { color: #e16734; }

b { display: block; position: fixed; top: 50%; left: -1em; width: 1em; height: 100%; z-index: -1; background: #212624; -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; border: 1px dotted #1e2322; }
b.border-b { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%; left: auto; right: -1em; }
b.border-c { -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; left: 2em; top: 0; }
b.border-d { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%; left: auto; right: 2em; top: 0; }

#body, #disqus_thread { font-size: 1.5em; padding: 2em 0; }
#body p { border-bottom: 2px dotted #1e2322; padding-bottom: 0.5em; text-shadow: 1px 1px 0px black; }                 
#header p, #body i, #body h3, #body li, #disqus_thread, #footer { margin:0 auto; width: 78%; display: block; font-style: normal; }
#header p { margin: 1em auto 0.5em auto; text-transform: none; font-size: 15px; line-height: 1.4; text-align: left;}  
#header h2 { font-size: 1.5em; margin-bottom: 1em; }
h2 + p {
  font-size: 14px;
  white-space: nowrap;
}

::-moz-selection, ::selection { text-shadow: none;}   
#body .dwn a { position: relative; display: inline-block; padding: 0.5em 1.5em; background: rgba(225, 103, 52, 0.8); color: #e3d7bf; margin: 0 0.5em; -moz-box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); -webkit-box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); font-size: 0.9em; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out;-webkit-transition: all 0.2s ease-out; letter-spacing: 0.5px; } 
#body .dwn a:before, #body .dwn a:after { position: absolute; top: 0; left: 0; height: 0; border: 1em solid #000; content: ""; border-color: transparent transparent transparent #232927; }   
#body .dwn a:after { left: auto; right: 0; border-color: transparent #232927 transparent transparent;}
#body .dwn a:hover { -moz-box-shadow: inset 0px 0px 30px #8b4020; -webkit-box-shadow: inset 0px 0px 30px #8b4020; box-shadow: inset 0px 0px 30px #8b4020; }
#body .dwn i { font-size: 0.8em; display: inline; text-transform: none; }    
.dwn a:visited { color: #fff; }
p.dwn + p a { font-size: 0.9em; padding: 0 1em; }
#body ul { font-size: 0.9em; text-align: left; }  
#body em { margin-right: 0.2em; }
#body em, #body h3, #disqus_thread h3 { font-size: 2em; }
#body h3, #disqus_thread h3 { margin: 1em auto 0.5em auto; }  
#body li { line-height: 2; width: 40em; }
#body li:before { content: "★"; padding-right: 0.5em; }
#body li:after {  border-bottom: 2px dotted #1e2322; position: absolute; width: 100%; content: ""; left: 0; }  
#body li:first-child:after { border-bottom: 0; }
#footer { position: relative; text-align: center; padding: 1em 0; }
#footer p { font-size: 1.2em; line-height: 3; } 
#footer .focus { font-size: 1.5em; margin-right: 1em; }  
#footer p:first-child { margin: 1em 0;}
#footer p:first-child em { vertical-align: top; line-height: 2; }  
#footer p:first-child a img { float: left; margin: 0 0.5em 0 0;}
#footer p:first-child a { display: inline-block; width: 13em; text-align: left; line-height: 1.5; font-size: 1.2em; }              
#footer p:first-child i { display: block; font-style: normal; font-size: 0.8em; }
#footer p+p, #footer li, #body li, #footer p:first-child i, #disqus_thread { text-transform: none; }
#footer li { display: inline; margin: 0 1em 0 0; } 
#footer a { white-space: nowrap; } 
#footer li:after { content: " ★"; padding-left: 1em;}
#footer li:last-child:after { content: ""; }  
#disqus_thread h3, #disqus_thread .dsq-options { text-align: center; }
#disqus_thread .dsq-comment-body { font-size: 1.2em; } 
#disqus_thread li:after { border: 0; }
#body i { padding: 1em 0; }
@media print {
	* { background:transparent !important; color:#444 !important; text-shadow:none; }
	a, a:visited { color:#444 !important; text-decoration:underline; }
	a:after { content:" (" attr(href) ")"; } 
	abbr:after { content: " (" attr(title) ")"; }
	pre, blockquote { border:1px solid #999; page-break-inside:avoid; }

	@page { margin: 0.5cm; }
	p, h2, h3 { orphans:3; widows:3; }
	h2, h3{ page-break-after:avoid; }
}





@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
}

@media screen and (max-device-width: 480px) {
  /* All Capable Mobile Browser (Opera Mobile, iPhone Safari, Android Chrome) CSS goes here */  
  h1 { font-size: 5em; }           
  #body { font-size: 1em; }  
  #body em, #body h3 { font-size: 1.5em; }
  #body li { width: 300px ; }
  html { -webkit-text-size-adjust:none; } /* Prevent iPhone from adjusting font size */
}


