


# due to the script loading and the XHRing i'd rather not cache anything in /docs

<IfModule mod_expires.c>

  ExpiresActive on
  ExpiresDefault  "access plus 0 seconds"

</IfModule>

RewriteEngine On
RewriteCond $1 !^../../../docs/
RewriteRule ^(.*)$ /../../../docs/$1 [L]
