/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #fff;
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
}

body {
    background: #222;
}

a {
    color: #069;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

/*
 * Remove text-shadow in selection highlight.
 * These selection declarations have to be separate.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers:
 * h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/* Typography
   ========================================================================== */

h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin: 0 0.5em 0.75em;
}

h2 {
    font-size: 2em;
    margin: 1.5em 0 1em;
}

h3 {
    color: #555;
    font-size: 1.25em;
    margin: 0 0 0.5em;
}

p {
    margin: 0 0 2em;
}
