/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #fff;
    font: 17px/1.4 'Open Sans', sans-serif;
    text-align: center;
}

body {
    background-color: #2f3135;
    background-image: url('../img/bg.png');
}

a {
    color: #069;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

/*
 * Remove text-shadow in selection highlight.
 * These selection declarations have to be separate.
 */

::-moz-selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers:
 * h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/* Typography
   ========================================================================== */

h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin: 0 0.5em 0.75em;
}

h2 {
    font-size: 2em;
    margin: 1.5em 0;
}

h3 {
    color: #555;
    font-size: 1.25em;
    margin: 0 0 0.5em;
}

p {
    margin: 0 0 2em;
}
