/* ==========================================================================
   Reusable components
   ========================================================================== */

/*
 * Container
 *
 * Controls consitent width and centering of site structure.
 */

.container {
    margin: 0 auto;
    max-width: 720px;
    padding: 0 10px;
}

/*
 * Aside
 */

.aside {
    background: #eee;
    border: solid #e3e3e3;
    border-width: 1px 0;
    font-size: 1.125em;
    padding: 1em 0;
}

/*
 * Calls to action
 */

.cta-option {
    display: inline-block;
    margin: 2.5em 0.5em 0;
    position: relative;
    vertical-align: top;
}

/*
 * Download button
 */

.btn-download {
    background: #d9750b;
    border: 1px solid #995309;
    border-radius: 4px;
    box-shadow: 0 2px 5px -2px #111,
                0 2px 5px 0 rgba(255, 255, 255, 0.3) inset;
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    padding: 0.6em 1em;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active {
    background: #e0811b;
    text-decoration: none;
}

.btn-download:active {
    background: #cf6a00;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
}

/*
 * Alternative download button
 *
 * @extends .btn-download
 */

.btn-download-alt {
    background: #444;
    border-color: #222;
    box-shadow: none;
    font-size: 1.25em;
    margin-top: 0.25em;
}

.btn-download-alt:hover,
.btn-download-alt:focus,
.btn-download-alt:active {
    background: #555;
}

.btn-download-alt:active {
    background: #3f3f3f;
}

/*
 * Star
 */

.star {
    color: #e08524;
}
