.btn-download {
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  padding: 0.6em 1em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  border-radius: 4px;
  background-color: #d9750b;
  background-image: linear-gradient(#f90 10%, #e76a00 100%);
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.5) inset,
    0 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #995309;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active {
  text-decoration: none;
  background-color: #e0811b;
  background-image: linear-gradient(#f0a100 10%, #f70 100%);
}

.btn-download:active {
  background-color: #cf6a00;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2) inset;
}
