/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {

    * {
        background-color: transparent !important;
        box-shadow:none !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    h1 {
        padding: 1em 0 0;
    }

    .site-promo,
    .site-section {
        margin: 1em;
        padding: 0;
    }

    .site-section {
        margin: 2em 1em;
    }

    .site-section-video {
        display: none;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

}
