/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
  img {
    max-width: 100% !important;
  }

  h1 {
    padding: 1em 0 0;
  }

  .site-promo,
  .site-section {
    margin: 1em;
    padding: 0;
  }

  .site-section {
    margin: 2em 1em;
  }

  .site-section-video {
    display: none;
  }
}
