/* ==========================================================================
   Utilities
   ========================================================================== */

/*
 * Grid
 */

.grid {
    margin: 0 -15px;
    /* Remove inter-unit whitespace for all non-monospace font-families */
    letter-spacing: -0.31em;
    word-spacing: -0.43em;
    /* Protect against WebKit bug with optimizelegibility */
    text-rendering: optimizespeed;
}

.grid-cell {
    display: inline-block;
    letter-spacing: normal;
    text-align: left;
    text-rendering: auto;
    vertical-align: top;
    width: 50%;
    word-spacing: normal;
}

.grid-cell > * {
    padding: 0 15px;
}

/*
 * Inline-block list items
 */

.inline-block-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inline-block-list li {
    display: inline-block;
    margin: 0 0 0 1.5em;
    padding: 0;
    vertical-align: top;
}

.inline-block-list li:first-child {
    margin-left: 0;
}

/*
 * Icons
 */

.icon {
    height: 100%;
    margin: -3px 2px 0 0;
    vertical-align: middle;
}

/*
 * Flexible multi-media embeds
 */

.flex-embed {
    background-color: #000;
    box-shadow: 0 0 10px #000;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.flex-embed a, /* required by IE 6/7 */
.flex-embed iframe,
.flex-embed img,
.flex-embed embed,
.flex-embed object {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.flex-embed .play-btn {
    background: url('../img/play-btn.png') no-repeat;
    height: 77px;
    left: 50%;
    margin: -38px 0 0 -38px;
    position: absolute;
    top: 50%;
    width: 77px;
}

.flex-embed:hover .play-btn {
    opacity: .7;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers:
 *
 *  1. The space content is one way to avoid an Opera bug when the
 *     `contenteditable` attribute is included anywhere else in the document.
 *     Otherwise it causes space to appear at the top and bottom of elements
 *     that receive the `clearfix` class.
 *  2. The use of `table` rather than `block` is only necessary if using
 *     `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: ' ';   /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
