/* ==========================================================================
   Utilities
   ========================================================================== */

/*
 * Grid
 */

.grid {
  margin: 0 -15px;
  /* Remove inter-unit whitespace for all non-monospace font-families */
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  /* Protect against WebKit bug with optimizelegibility */
  text-rendering: optimizeSpeed;
}

.grid-cell {
  display: inline-block;
  letter-spacing: normal;
  text-align: left;
  text-rendering: auto;
  vertical-align: top;
  width: 50%;
  word-spacing: normal;
}

.grid-cell > * {
  padding: 0 15px;
}

/*
 * Inline-block list items
 */

.inline-block-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inline-block-list li {
  display: inline-block;
  margin: 0 0 0 1.5em;
  padding: 0;
  vertical-align: top;
}

.inline-block-list li:first-child {
  margin-left: 0;
}
