/**
 * html5boilerplate.com
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #fff;
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
}

body {
    background: #222;
}

a {
    color: #069;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

/*
 * Remove text-shadow in selection highlight.
 * These selection declarations have to be separate.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1 {
    margin: 0 0 0.75em;
    font-size: 3em;
    line-height: 1.2em;
}

h2 {
    margin: 1.5em 0 1em;
    font-size: 2em;
}

h3 {
    margin: 0 0 0.5em;
    color: #555;
    font-size: 1.25em;
}

p {
    margin: 0 0 2em;
}

/* ==========================================================================
   Reusable components
   ========================================================================== */

/**
 * Container
 *
 * Controls consitent width and centering of site structure.
 */

.container {
    max-width: 720px;
    padding: 0 10px;
    margin: 0 auto;
}

/**
 * Aside
 */

.aside {
    padding: 1em 0;
    border: solid #e3e3e3;
    border-width: 1px 0;
    background: #eee;
    font-size: 1.125em;
}

/**
 * Calls to action
 */

.cta-option {
    position: relative;
    display: inline-block;
    margin: 2.5em 0.5em 0;
    vertical-align: top;
}

/**
 * Download button
 */

.btn-download {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0.6em 1em;
    border: 1px solid #995309;
    color: #fff;
    background: #d9750b;
    border-radius: 4px;
    box-shadow: 0 2px 5px -2px #111, inset 0 2px 5px 0 rgba(255, 255, 255, 0.3);
    font-size: 1.5em;
    text-decoration: none;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active {
    background: #e0811b;
    text-decoration: none;
}

.btn-download:active {
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.2);
    background: #cf6a00;
}

/**
 * Alternative download button
 *
 * @extends .btn-download
 */

.btn-download-alt {
    margin-top: 0.25em;
    border-color: #222;
    background: #444;
    box-shadow: none;
    font-size: 1.25em;

}

.btn-download-alt:hover,
.btn-download-alt:focus,
.btn-download-alt:active {
    background: #555;
}

.btn-download-alt:active {
    background: #3f3f3f;
}

/**
 * Inline-block list items
 */

.inline-block-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.inline-block-list li {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 1.5em;
    vertical-align: top;
}

.inline-block-list li:first-child {
    margin-left: 0;
}

/**
 * Grid
 */

.grid {
    margin: 0 -15px;
    /* Remove inter-unit whitespace for all non-monospace font-families */
    letter-spacing: -0.31em;
    word-spacing: -0.43em;
    /* Protect against WebKit bug with optimizelegibility */
    text-rendering: optimizespeed;
}

.grid-cell {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left;
    text-rendering: auto;
}

.grid-cell > * {
    padding: 0 15px;
}

/**
 * Icons
 */

.icon {
    position: relative;
    top: 5px;
    float: left;
    margin-right: 5px;
}

/**
 * Clearfix helper
 */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/**
 * Flexible multi-media embeds [structural components]
 */

.flex-embed {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%
}

.flex-embed iframe,
.flex-embed embed,
.flex-embed object {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* ==========================================================================
   Major site components
   ========================================================================== */

/**
 * Site header
 */

.site-header {
    padding-top: 30px;
}

/* Site logo */

.site-logo {
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000;
}

.star {
    color: #e08524;
}

/* Site nav */

.site-nav {
    float: right;
    padding: 0;
    margin: 7px 0 0;
    list-style: none;
}

.site-nav a {
    display: block;
    color: #e08524;
    text-decoration: none;
    text-transform: uppercase;
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav a:active {
    color: #fff;
}

/**
 * Site promo
 */

.site-promo {
    padding: 3em 0 4em;
}

.site-promo .description {
    margin: 1em 2em 0;
    font-size: 1.25em;
    color: #ddd;
}

.last-update {
    display: block;
    margin-top: 10px;
    color: #999;
    font-size: 0.75em;
}

/**
 * Support content
 */

.site-content {
    overflow: hidden;
    padding: 1em 0 5em;
    color: #333;
    background: #fff;
}

.in-the-wild {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25em;
    font-weight: bold;
}

/**
 * Site footer
 */

.site-footer {
    padding: 2em 0;
    font-size: 0.875em;
}

.site-footer .container {
    max-width: 500px;
}

.site-footer a {
    color: #e08524;
}


/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (max-width: 720px) {
    .site-logo,
    .site-nav {
        float: none;
    }

    .site-nav li {
        margin: 0 0.5em;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 460px) {
    .grid-cell {
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    html {
        font-size: 13px;
    }

    h1 {
        font-size: 2.5em;
    }
}


/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    .flex-embed,
    iframe {
        display: none;
    }

    .site-promo {
        margin-bottom: 0;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
