html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }

select, input, textarea, button { font:99% sans-serif; }  

pre, code, kbd, samp { font-family: monospace, sans-serif; } 

html { overflow-y: scroll; } 
                                                          
a:hover, a:active { outline: none; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
                                          
nav ul, nav li { margin: 0; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td { vertical-align:top; } 

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } 

.ie6 legend, .ie7 legend { margin-left: -7px; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
                                               
label, input[type=button], input[type=submit], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }  

input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; } 

body, select, input, textarea { color:#444; }    

h1, h2, h3, h4, h5 { font-weight: normal; text-transform: uppercase; }

a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }

/* PRIMARY STYLES */
@font-face { font-family: "MolotRegular"; src: url('../assets/Molot.eot'); src: local("../assets/Molot"), local("../assets/Molot"), url('../assets/Molot.woff') format("woff"), url('../assets/Molot.ttf') format("truetype"), url('../assets/Molot.svg#Molot') format("svg"); }
@font-face { font-family: "InsolentRegular"; src: url('../assets/insolent.eot'); src: url('../assets/insolent.woff') format('woff'), url('../assets/insolent.ttf') format('truetype'), url('../assets/insolent.svg#webfontD7S5Wv86') format('svg'); }

/* Hebrew */
@font-face {
	font-family: 'AharoniCLMBold'; src: url('../assets/aharoniclm-bold-webfont.eot'); src: url('../assets/aharoniclm-bold-webfont.eot?iefix') format('eot'), url('../assets/aharoniclm-bold-webfont.woff') format('woff'), url('../assets/aharoniclm-bold-webfont.ttf')  format('truetype'), url('../assets/aharoniclm-bold-webfont.svg#webfont2BBJ9RJ7') format('svg'); } 
	

h1, em, #body h3, #disqus_thread h3, h4,
.wikiconvertor h2 { font-family: "InsolentRegular", Arial, sans-serif; text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871, 5px 5px 0px #476871, 6px 6px 0px #476871, 7px 7px 0px #476871; }   

html[lang='he'] h1, html[lang='en'] h1, html[lang='en'] em, html[lang='en'] #body h3, html[lang='en'] #disqus_thread h3, html[lang='en'] h4, html[lang='en-us'] h1, html[lang='en-us'] em, html[lang='en-us'] #body h3, html[lang='en-us'] #disqus_thread h3, html[lang='en-us'] h4, .wikiconvertor h2 { font-family: "MolotRegular", Arial, sans-serif; } 

html[lang='he'] em, html[lang='he'] #body h3, html[lang='he'] #disqus_thread h3 { font-family: 'AharoniCLMBold', Arial, sans-serif; }
#container[dir="rtl"] h4, #container[dir="rtl"] code{ direction:ltr; }


/* we do not need to link to ourselves. only our friends. <3 */
 
html[lang="en-us"] p.lang a[lang="en-us"],
html[lang="de-de"] p.lang a[lang="de-de"],
html[lang="pt-br"] p.lang a[lang="pt-br"],
html[lang="fr-fr"] p.lang a[lang="fr-fr"],
html[lang="ro-ro"] p.lang a[lang="ro-ro"],
html[lang="it"]    p.lang a[lang="it"],
html[lang="nl"]    p.lang a[lang="nl"],
html[lang="sr"]    p.lang a[lang="sr"],
html[lang="he"] p.lang a[lang="he"],
html[lang="ja"] p.lang a[lang="ja"] {
  display : none;
}

h1 i { font-family: arial, helvetica, sans-serif; font-style: normal; } 

h4, #body h4 em { font-size: 25px; margin: 25px 0 10px;}
h4 em { font-style: normal; }

h1 { font-size: 6em; line-height: 1.5; text-align: center; cursor: default; }
h1:hover { color: #e16734; }

body { background: #232927; color: #e3d7bf; text-align: center; font: 300 12px/18px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif; }

a, a:hover, a:focus, a:visited  { color: #e16734; text-decoration: none;}
#body ul a, a:hover, a:focus, #body p a, .disqus-wrapper a, p.lang a, #builder a.selected { color: #e16734; }

b.border-a,
b.border-b,
b.border-c,
b.border-d { display: block; position: fixed; top: 50%; left: -1em; width: 1em; height: 100%; z-index: -1; background: #212624; -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; -o-transform: scale(1.5) rotate(-45deg); -o-transform-origin: 20% 0%; border: 1px dotted #1e2322; }
b.border-b { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%; -o-transform: scale(1.5) rotate(45deg); -o-transform-origin: 80% 0%; left: auto; right: -1em; }
b.border-c { -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; -o-transform: scale(1.5) rotate(-45deg); -o-transform-origin: 20% 0%; left: 2em; top: 0; }
b.border-d { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%;  -o-transform: scale(1.5) rotate(45deg); -o-transform-origin: 80% 0%; left: auto; right: 2em; top: 0; }

#body, .disqus-wrapper { font-size: 1.5em; padding: 1em 0; }

#header p, #body p.dwn + p i, #body h3, #body li, #disqus_thread, #footer, #builder { margin:0 auto; width: 78%; display: block; font-style: normal; }
#header p { margin: 1em auto 0.5em auto; text-transform: none; font-size: 15px; line-height: 1.4; text-align: left; }  
#container[dir="rtl"] #header p { text-align: right; }
#header h2 { font-size: 1.5em; margin-bottom: 1.5em; }
h2 + p { font-size: 14px; } 

#header p.lang { font-size: 0.8em; text-align: center; border-top: 2px dotted #1e2322; }
.notenglish #header p.lang { font-size: 1.2em; }
#container[dir="rtl"] #header p.lang { padding-left: 1%; text-align: left; padding-right: 0; }

/* BUTTONS */                                               
#body .dwn a, a[href="#dsq-content"], #builder-download { position: relative; display: inline-block; padding: 0.5em 1.5em; line-height: 1em; background: rgba(225, 103, 52, 0.6); color: #e3d7bf; margin: 0 0.5em; text-shadow: black 0px 1px 0px; -moz-box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); -webkit-box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; letter-spacing: 0.5px; direction:ltr; } 
#body .dwn a:before, a[href="#dsq-content"]:before,  a#builder-download:before { content: ""; position: absolute; top: 0; left: 0; right: 0; border: 1em solid; border-color: transparent #232927; }   

#body .dwn a:hover, a[href="#dsq-content"]:hover,  a#builder-download:hover { -moz-box-shadow: inset 0px 0px 30px #8b4020; -webkit-box-shadow: inset 0px 0px 30px #8b4020; box-shadow: inset 0px 0px 30px #8b4020; } 

#body .focus #builder-download:before { border-color: transparent hsl(163, 6%, 23%); }

.bptext { font-size: 0.8em; line-height: 2em; text-transform: uppercase; }

.dwn { line-height: 1.5em; padding: 0.5em 0; text-transform: uppercase; }
.dwn i { vertical-align: top; font-style: normal; }    
.dwn a:visited { color: #fff; }   
.dwn span { display: inline-block; vertical-align: middle; margin: 0 0 0.5em 0; }
.dwn span small { display:block; margin-top: 0.5em; font-size: 0.6em; line-height: 1em; }

.social, .lang { padding-bottom: 0; } 
.social a, p.lang a { font-size: 0.9em; padding: 0 0 0 1em; white-space: nowrap; line-height: 2em; text-transform: uppercase; }
.social a:hover, p.lang a:hover { color: #e3d7bf; text-shadow: #476871 1px 1px 0px; }

.no-svg #html5logo { display:none; }

.update { background-color: hsla(193, 23%, 36%, 0.2); width: 45em; margin: 0 auto; padding: .5em 0; border-radius: 4px; margin-top: .7em; }
.update p { margin: 1em 2em!important; line-height: 1.6em; text-align: left;  }
.update p strong { text-transform: uppercase; font-size: 0.7em;  }
#body .update li::before { content: ""; padding: 0;}

code { background-color: hsla(193, 23%, 36%, 0.5); border-radius: 3px;  -moz-border-radius: 3px; padding: 0 2px; }

#body ul { font-size: 0.9em; text-align: left; }  
#body em { margin-right: 0.2em; }
#body em, #body h3, #disqus_thread h3 { font-size: 2em; line-height: 1.2; }
#body h3, #disqus_thread h3 { margin: 1em auto 0.5em auto; }  
#body i { padding: 1em 0; }          
#body p.social i { padding: 0.5em 0; } 
#body p.social i:first-child { padding-bottom: 0; }
#body p.social i:last-child { padding-top: 0; }
#body p, p.lang { border-bottom: 2px dotted #1e2322; padding-bottom: 0.5em; text-shadow: 1px 1px 0px black; margin: 0; font-size: 0.9em; }                 
#body p.social, p.lang { padding-bottom: 0; }
#body embed { margin-bottom: 0.5em; }
#body li { line-height: 1.5; width: 42em; padding: 0.25em 1em; border-bottom: 2px dotted #1e2322; }
#body li:last-child { border-bottom: 0; }
#container[dir="rtl"] #body li { text-align: right; }
#body li:before { content: "★"; padding-right: 0.5em; }
#container[dir="rtl"] #body li:before { padding-left: 0.5em; }

#html5logo { display: inline-block; margin-top: 1em; }
#rc10 { display: none; }
#rc10:target { display: block; } 
#rc10 li { border-color: #313A38; }
a[href="#dsq-content"] { color: inherit; text-shadow: 1px 1px 0 black; }

/* INITIALIZR */
.focus { background: hsla(160, 8%, 54%, 0.2); } 
#builder { display: none; width: 50%; min-width: 480px; padding-bottom: 2em; }
#builder > div { width: 50%; float: left; }
#builder > div:nth-of-type(odd) { clear: left; }
#builder h4 { line-height: 2; margin-top: 0.5em; }
#builder a.selected, #builder a:active { 	background-color: hsl(18, 44%, 34%); color: inherit; border-color: transparent hsl(18, 74%, 14%) hsl(18, 44%, 44%) transparent; text-shadow: 1px 1px 1px #000; }
#builder div > a { display: inline-block; padding: 0.32em 0.9375em; background: hsl(160, 8%, 10%); font-size: 0.8em; border-radius: 4px; border: 1px solid hsl(160, 8%, 55%); border-color: transparent hsl(160, 8%, 0%) hsl(160, 8%, 35%) transparent; margin: 0 0.25em 1em 0; }
#builder div > a:hover { color: inherit; background: hsl(160, 8%, 20%); }
#builder > p { padding-top: 2em; border: 0; clear: both; font-size: 0.75em; } 
#body #builder-download { color: inherit; font-size: 1.35em; text-transform: uppercase; }

#footer { position: relative; text-align: center; padding: 1em 0; }
#footer p { font-size: 1.2em; line-height: 3; } 
#footer em { font-style: normal; }
#footer .focus { font-size: 1.5em; margin-right: 1em; }  
#footer p:first-child { margin: 1em 0;}
#footer p:first-child em { vertical-align: top; line-height: 2; }  
#footer p:first-child a img { float: left; margin: 0 0.5em 0 0;}
#footer p:first-child a { display: inline-block; width: 13em; text-align: left; line-height: 1.5; font-size: 1.2em; }              
#footer p:first-child i { display: block; font-style: normal; font-size: 0.8em; }
#footer p+p, #footer li, #body li, #footer p:first-child i, #disqus_thread { text-transform: none; }
#footer li { display: inline; margin: 0 1em 0 0; } 
#footer a { white-space: nowrap; color: #E3D7BF;}                                                      

/* IN-LINE STAR BULLETS */
#footer li:after, .social a:after, .lang a:after { content: " ★"; padding-left: 1em; color: #e3d7bf; }                           
#container[dir="rtl"] .social a:after { padding-left: 0; padding-right: 1em; }

#footer li:last-child:after, .social a:last-child:after, .lang a:last-child:after, html[lang="sr"] p.lang a[lang="nl"]:after { content: ""; }  

#disqus_thread { display: none; padding-top: 0; } 
#disqus_thread h3 { margin-top: 0.5em; }
#disqus_thread h3, #disqus_thread .dsq-options { text-align: center; }
#disqus_thread .dsq-comment-body { font-size: 1.2em; } 
#disqus_thread li:after { border: 0; }
#disqus_thread h4 { font-family: inherit; text-shadow: none; font-size: 1em; }


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }      
 
.hidden { display: none; visibility: hidden; } 

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }

.clearfix { zoom: 1; }         
 






@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


@media screen and (max-device-width: 480px) {
  h1 { font-size: 5em; }           
  #body { font-size: 1em; }  
  #body em, #body h3 { font-size: 1.5em; }
  #body li { width: 300px ; }
}




