html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
} 

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; }

select, input, textarea, button { font:99% sans-serif; }  

pre, code, kbd, samp { font-family: monospace, sans-serif; } 
                                                                        
body, select, input, textarea { color:#444; }

html { overflow-y: scroll; } 
                                                          
a:active { outline: none; }

a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
                                          
nav ul, nav li { margin: 0; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre {
  padding: 15px;
 white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

textarea { overflow: auto; } 

.ie6 legend, .ie7 legend { margin-left: -7px; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
                                               
label, input[type=button], input[type=submit], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }  

input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; } 

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }      
 
.hidden { display: none; visibility: hidden; } 

.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }
  
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }         
 
h1, h2, h3, h4, h5 { font-weight: normal; text-transform: uppercase; }

@font-face { font-family: "MolotRegular"; src: url('../assets/Molot.eot'); src: local("../assets/Molot"), local("../assets/Molot"), url('../assets/Molot.woff') format("woff"), url('../assets/Molot.ttf') format("truetype"), url('../assets/Molot.svg#Molot') format("svg"); }
@font-face { font-family: "InsolentRegular"; src: url('../assets/insolent.eot'); src: url('../assets/insolent.woff') format('woff'), url('../assets/insolent.ttf') format('truetype'), url('../assets/insolent.svg#webfontD7S5Wv86') format('svg'); }

h1, em, #body h3, #disqus_thread h3, h4 { font-family: "InsolentRegular", Arial, sans-serif; text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871, 5px 5px 0px #476871, 6px 6px 0px #476871, 7px 7px 0px #476871; }   

html[lang='en'] h1, html[lang='en'] em, html[lang='en'] #body h3, html[lang='en'] #disqus_thread h3, html[lang='en'] h4, html[lang='en-us'] h1, html[lang='en-us'] em, html[lang='en-us'] #body h3, html[lang='en-us'] #disqus_thread h3, html[lang='en-us'] h4 { font-family: "MolotRegular", Arial, sans-serif; } 



/* we do not need to link to ourselves. only our friends. <3 */
 
html[lang="en-us"] p.lang a[lang="en-us"],
html[lang="de-de"] p.lang a[lang="de-de"],
html[lang="pt-br"] p.lang a[lang="pt-br"],
html[lang="fr-fr"] p.lang a[lang="fr-fr"],
html[lang="it"]    p.lang a[lang="it"],
html[lang="nl"]    p.lang a[lang="nl"],
html[lang="sr"]    p.lang a[lang="sr"] {
  display : none;
}

h1 i { font-family: arial, helvetica, sans-serif; font-style: normal; } 

h4, #body h4 em { font-size: 25px; margin: 25px 0 10px;}
h4 em { font-style: normal; }

h1 { font-size: 6em; line-height: 1.5; text-align: center; cursor: default; }
h1:hover { color: #e16734; }

body { background: #232927; color: #e3d7bf; text-align: center; font: 300 12px/18px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif; }

a, a:visited { color: #e3d7bf; text-decoration: none; } 
#body ul a, a:hover, a:focus, #body p a, .disqus-wrapper a, p.lang a { color: #e16734; }

b { display: block; position: fixed; top: 50%; left: -1em; width: 1em; height: 100%; z-index: -1; background: #212624; -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; -o-transform: scale(1.5) rotate(-45deg); -o-transform-origin: 20% 0%; border: 1px dotted #1e2322; }
b.border-b { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%; -o-transform: scale(1.5) rotate(45deg); -o-transform-origin: 80% 0%; left: auto; right: -1em; }
b.border-c { -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; -o-transform: scale(1.5) rotate(-45deg); -o-transform-origin: 20% 0%; left: 2em; top: 0; }
b.border-d { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%;  -o-transform: scale(1.5) rotate(45deg); -o-transform-origin: 80% 0%; left: auto; right: 2em; top: 0; }

#body, .disqus-wrapper { font-size: 1.5em; padding: 1em 0; }

#header p, #body p.dwn + p i, #body h3, #body li, #disqus_thread, #footer { margin:0 auto; width: 78%; display: block; font-style: normal; }
#header p { margin: 1em auto 0.5em auto; text-transform: none; font-size: 15px; line-height: 1.4; text-align: left;}  
#header h2 { font-size: 1.5em; margin-bottom: 1.5em; }
h2 + p { font-size: 14px; } 

#header p.lang { font-size: 1em; width: 99%; text-align: right; border-top: 2px dotted #1e2322; padding-right: 1%;}

/* BUTTONS */                                               
#body .dwn a, a[href="#dsq-content"] { position: relative; display: inline-block; padding: 0.5em 1.5em; line-height: 1em; background: rgba(225, 103, 52, 0.8); color: #e3d7bf; margin: 0 0.5em; text-shadow: black 0px 1px 0px; -moz-box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); -webkit-box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out;-webkit-transition: all 0.2s ease-out; letter-spacing: 0.5px; } 
#body .dwn a:before, #body .dwn a:after, a[href="#dsq-content"]:before, a[href="#dsq-content"]:after { position: absolute; top: 0; left: 0; height: 0; border: 1em solid #000; content: ""; border-color: transparent transparent transparent #232927; }   
#body .dwn a:after, a[href="#dsq-content"]:after { left: auto; right: 0; border-color: transparent #232927 transparent transparent;}
#body .dwn a:hover, a[href="#dsq-content"]:hover { -moz-box-shadow: inset 0px 0px 30px #8b4020; -webkit-box-shadow: inset 0px 0px 30px #8b4020; box-shadow: inset 0px 0px 30px #8b4020; }


.bptext { font-size: 0.8em; line-height: 2em; text-transform: uppercase; }

.dwn { line-height: 1.5em; padding: 0.5em 0; text-transform: uppercase; }
.dwn i { vertical-align: top; font-style: normal; }    
.dwn a:visited { color: #fff; }   
.dwn span { display: inline-block; vertical-align: middle;}
.dwn span small { display:block; margin-top: 0.5em; font-size: 0.6em; line-height: 1em; }

.social, .lang { padding-bottom: 0; } 
.social a, p.lang a { font-size: 0.9em; padding: 0 0 0 1em; white-space: nowrap; line-height: 2em; text-transform: uppercase; }
.social a:hover, p.lang a:hover { color: #e3d7bf; text-shadow: #476871 1px 1px 0px; }

.no-svg #html5logo { display:none; }

#body ul { font-size: 0.9em; text-align: left; }  
#body em { margin-right: 0.2em; }
#body em, #body h3, #disqus_thread h3 { font-size: 2em; line-height: 1.2; }
#body h3, #disqus_thread h3 { margin: 1em auto 0.5em auto; }  
#body i { padding: 1em 0; }          
#body p.social i { padding: 0.5em 0; } 
#body p.social i:first-child { padding-bottom: 0; }
#body p.social i:last-child { padding-top: 0; }
#body p, p.lang { border-bottom: 2px dotted #1e2322; padding-bottom: 0.5em; text-shadow: 1px 1px 0px black; margin: 0; font-size: 0.9em; }                 
#body p.social, p.lang { padding-bottom: 0; }
#body embed { margin-bottom: 0.5em; }
#body li { line-height: 2; width: 42em; }
#body li:before { content: "★"; padding-right: 0.5em; }
#body li:after {  border-bottom: 2px dotted #1e2322; position: absolute; width: 100%; content: ""; left: 0; }  
#body li:first-child:after { border-bottom: 0; }

a[href="#dsq-content"] { color: inherit; text-shadow: 1px 1px 0 black; }

#footer { position: relative; text-align: center; padding: 1em 0; }
#footer p { font-size: 1.2em; line-height: 3; } 
#footer em { font-style: normal; }
#footer .focus { font-size: 1.5em; margin-right: 1em; }  
#footer p:first-child { margin: 1em 0;}
#footer p:first-child em { vertical-align: top; line-height: 2; }  
#footer p:first-child a img { float: left; margin: 0 0.5em 0 0;}
#footer p:first-child a { display: inline-block; width: 13em; text-align: left; line-height: 1.5; font-size: 1.2em; }              
#footer p:first-child i { display: block; font-style: normal; font-size: 0.8em; }
#footer p+p, #footer li, #body li, #footer p:first-child i, #disqus_thread { text-transform: none; }
#footer li { display: inline; margin: 0 1em 0 0; } 
#footer a { white-space: nowrap; }                                                    

/* IN-LINE STAR BULLETS */
#footer li:after, .social a:after, .lang a:after { content: " ★"; padding-left: 1em; color: #e3d7bf; }
#footer li:last-child:after, .social a:last-child:after, .lang a:last-child:after, html[lang="sr"] p.lang a[lang="nl"]:after { content: ""; }  

#disqus_thread { display: none; padding-top: 0; } 
#disqus_thread h3 { margin-top: 0.5em; }
#disqus_thread h3, #disqus_thread .dsq-options { text-align: center; }
#disqus_thread .dsq-comment-body { font-size: 1.2em; } 
#disqus_thread li:after { border: 0; }
#disqus_thread h4 { font-family: inherit; text-shadow: none; font-size: 1em; }

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


@media screen and (max-device-width: 480px) {
  h1 { font-size: 5em; }           
  #body { font-size: 1em; }  
  #body em, #body h3 { font-size: 1.5em; }
  #body li { width: 300px ; }
}




