article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

html { font-size: 100%; overflow-y: scroll; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; } 
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }




/* PRIMARY STYLES */
@font-face { font-family: "MolotRegular"; src: url('../assets/Molot.eot'); src: local("../assets/Molot"), local("../assets/Molot"), url('../assets/Molot.woff') format("woff"), url('../assets/Molot.ttf') format("truetype"), url('../assets/Molot.svg#Molot') format("svg"); }
@font-face { font-family: "InsolentRegular"; src: url('../assets/insolent.eot'); src: url('../assets/insolent.woff') format('woff'), url('../assets/insolent.ttf') format('truetype'), url('../assets/insolent.svg#webfontD7S5Wv86') format('svg'); }

/* Hebrew */
@font-face {
    font-family: 'AharoniCLMBold'; src: url('../assets/aharoniclm-bold-webfont.eot'); src: url('../assets/aharoniclm-bold-webfont.eot?iefix') format('eot'), url('../assets/aharoniclm-bold-webfont.woff') format('woff'), url('../assets/aharoniclm-bold-webfont.ttf')  format('truetype'), url('../assets/aharoniclm-bold-webfont.svg#webfont2BBJ9RJ7') format('svg'); } 

    

h1, em, h3, h4,
.wikiconvertor h2 { font-family: "InsolentRegular", Arial, sans-serif; text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871, 5px 5px 0px #476871, 6px 6px 0px #476871, 7px 7px 0px #476871; }   

html[lang='he'] h1, html[lang='en'] h1, html[lang='en'] em, html[lang='en'] h3, html[lang='en'] h4, html[lang='en-us'] h1, html[lang='en-us'] em, html[lang='en-us'] h3, html[lang='en-us'] h4, .wikiconvertor h2 { font-family: "MolotRegular", Arial, sans-serif; } 

html[lang='he'] em, html[lang='he'] h3 { font-family: 'AharoniCLMBold', Arial, sans-serif; }
#container[dir="rtl"] h4, #container[dir="rtl"] code { direction:ltr; }


/* we do not need to link to ourselves. only our friends. <3 */
#header p.lang, 
html[lang="en-us"] p.lang a[lang="en-us"],
html[lang="de-de"] p.lang a[lang="de-de"],
html[lang="pt-br"] p.lang a[lang="pt-br"],
html[lang="fr-fr"] p.lang a[lang="fr-fr"],
html[lang="ro-ro"] p.lang a[lang="ro-ro"],
html[lang="it"]    p.lang a[lang="it"],
html[lang="nl"]    p.lang a[lang="nl"],
html[lang="sr"]    p.lang a[lang="sr"],
html[lang="he"] p.lang a[lang="he"],
html[lang="ja"] p.lang a[lang="ja"] {
  display : none;
}

/* HEADINGS */
h1 i { font-family: arial, helvetica, sans-serif; font-style: normal; } 

h3 { font-size: 2em; line-height: 1.2; padding: 12px 0; }

h1 b,
h2, h4 em { font-weight: normal; }
h4 { font-size: 1.2em; margin: 25px 0 10px;  text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871; }
h5 { margin: 1em 0; }
h1 { font-size: 5em; cursor: default; }
h1:hover { color: #e16734; }
#header h2 { margin-bottom: 1.5em; margin-top: 0; }


body { background: #232927; color: #e3d7bf; padding-bottom: 3em; font: 300 16px/1.5 "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif; }

a, a:hover, a:focus, a:visited  { text-decoration: none; }
a, a:visited, .disqus-wrapper a, #builder a.selected, a.announcements { color: #e16734; }
a:hover, a:focus, #footer a:hover, #footer a:focus { color: #82A6B0; }

#body, .disqus-wrapper { padding: 1em 0; }

b.border-a,
b.border-b,
b.border-c,
b.border-d { display: block; position: fixed; top: 50%; left: -1em; width: 1em; height: 100%; z-index: -1; background: #212624; -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; -o-transform: scale(1.5) rotate(-45deg); -o-transform-origin: 20% 0%; border: 1px dotted #1e2322; }
b.border-b { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%; -o-transform: scale(1.5) rotate(45deg); -o-transform-origin: 80% 0%; left: auto; right: -1em; }
b.border-c { -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; -o-transform: scale(1.5) rotate(-45deg); -o-transform-origin: 20% 0%; left: 2em; top: 0; }
b.border-d { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%;  -o-transform: scale(1.5) rotate(45deg); -o-transform-origin: 80% 0%; left: auto; right: 2em; top: 0; }


#header,
.bptext, .dwn, .social,
#intro h3:last-of-type,
#body h3, #footer h3, .disqus-wrapper h3,
.recos, .new > p:first-of-type, .new > small, .new .changelog > p { text-align: center; }
#header h1 { margin: 0.25em auto 0; }
#intro, #body p.dwn + p i, div > h3, div > h5, div > h4, div > ul > li, .notice, .recos, #footer, #builder, .new, .disqus-wrapper { margin-left: auto; margin-right: auto; width: 78%; display: block; font-style: normal; }
#header p { margin: 1em auto 0.5em auto; text-transform: none; font-size: 0.9em; text-align: left; }  
#container[dir="rtl"] #header p { text-align: right; }

 
.notenglish #header p.lang { font-size: 1.2em; }
.bptext { line-height: 2em; text-transform: uppercase; }

h2 + p,
#builder { font-size: 0.9em; }

p.lang,.bptext { font-size: 0.8em; }


/* Language bar */
#header p.lang { text-align: center; border-top: 2px dotted #1e2322; padding-bottom: 0.5em; text-shadow: 1px 1px 0px black; margin: 0; }

#container[dir="rtl"] #header p.lang { padding-left: 1%; text-align: left; padding-right: 0; }


#intro { max-height: 0; overflow:hidden; opacity: 0; text-align: left;
   -moz-transition: max-height 0.3s ease-out;  
     -o-transition: max-height 0.3s ease-out;  
-webkit-transition: max-height 0.3s ease-out;  
        transition: max-height 0.3s ease-out;  
}
#intro h3 { margin-top: 1em; }
.showintro #intro { max-height: 100%; opacity: 1; }
.introtoggle:before { content: "▶"; font-size: 9px; padding: 7px;}
.showintro .introtoggle:before { content: "▼";}



/* BUTTONS */                                               
.dwn a, a[href="#dsq-content"], #builder-download { position: relative; display: inline-block; padding: 0.5em 1.5em; line-height: 1em; background: rgba(225, 103, 52, 0.6); color: #e3d7bf; margin: 0 0.5em; text-shadow: black 0px 1px 0px; -moz-box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); -webkit-box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); -moz-transition: box-shadow 0.2s ease-out; -o-transition: box-shadow 0.2s ease-out; -webkit-transition: box-shadow 0.2s ease-out; -ms-transition: box-shadow 0.2s ease-out; letter-spacing: 0.5px; direction:ltr; } 

.dwn a:before, a[href="#dsq-content"]:before,  a#builder-download:before { content: ""; position: absolute; top: 0; left: 0; right: 0; border: 1em solid; border-color: transparent #232927; }   

.dwn a:hover, a[href="#dsq-content"]:hover,  a#builder-download:hover { box-shadow: inset 0px 0px 30px #8b4020; } 



/* Download buttons */
.dwn { line-height: 1.5em; padding: 1em 0; text-transform: uppercase; }
.dwn i { vertical-align: top; font-style: normal; }    
.dwn a:visited { color: #fff; }   
.dwn span { display: inline-block; vertical-align: middle; margin: 0 0 0.5em 0; }
.dwn span small { display:block; margin-top: 0.5em; font-size: 0.6em; line-height: 1em; }

/* Language & Community Bar Pattern */ 
.social, .lang { padding-bottom: 0; } 
.social a, p.lang a { font-size: 0.9em; padding: 0 0 0 1em; white-space: nowrap; line-height: 2em; text-transform: uppercase; }
.social a:hover, p.lang a:hover { color: #e3d7bf; text-shadow: #476871 1px 1px 0px; }

/* HTML5 SVG Logo */
.no-svg #html5logo { display:none; }
#html5logo { display: block; margin: 1em auto 0 auto; }

/* Date since updated */
.update { background-color: hsla(193, 23%, 36%, 0.2); width: 45em; margin: 0 auto; padding: .5em 0; border-radius: 4px; margin-top: .7em; }
.update p { margin: 1em 2em; line-height: 1.6em; text-align: left;  }
.update p strong { text-transform: uppercase; font-size: 0.7em;  }
.update li::before { content: ""; padding: 0;}

code { background-color: hsla(193, 23%, 36%, 0.5); border-radius: 3px;  padding: 0 2px; }

ul { margin-left: 0; padding-left: 0; }  
h3 { margin: 1em auto 0.5em auto; }  
.dwn i, .focus i { padding: 1em 0; }          
p.social i { padding: 0.5em 0; display: block; } 
p.social i:first-child { padding-bottom: 0; }
p.social i:last-child { padding-top: 0; }

div > p[class] { border-bottom: 2px dotted #1e2322; padding-bottom: 0.5em; text-shadow: 1px 1px 0px black; margin: 0; font-size: 0.9em; }                 
div > p.social, div > p.lang { padding-bottom: 0; }
embed { margin-bottom: 0.5em; }
div > ul > li { line-height: 1.3; padding: 4px 1em; border-bottom: 2px dotted #1e2322; }
div > ul > li:last-child { border-bottom: 0; }

#container[dir="rtl"] li { text-align: right; }
div > ul > li:before { content: "★"; padding-right: 0.5em; }
#container[dir="rtl"] div > ul > li:before { padding-left: 0.5em; }


/* INITIALIZR */
.focus { background: hsla(160, 8%, 54%, 0.2); } 
.focus #builder-download:before { border-color: transparent hsl(163, 6%, 23%); }

#builder { width: 50%; min-width: 480px; padding: 24px 0; text-align: left; display: none; }
#builder > div { width: 31%; float: left; min-height: 10em; }
#builder #rest { clear: both; width: 22em; margin: 0 auto 2em auto; float: none; text-align: left; } 
#builder #libs { width: 36%; }
#builder h4 { font-family: sans-serif; text-shadow: none; margin-top: 0.5em; text-align: center; color: #222; min-height: 3.025em; min-width: 0; max-width: 100%; width: auto; }
#builder label {display: block; margin: 0 auto 0.5em auto; width: 10em; }
#builder #rest label { width: 100%; }
#builder-download, #builder h4 { color: inherit; font-size: 1.35em; text-transform: uppercase; }
#builder p { border-bottom: 0; font-size: 1em; padding-bottom: 1em; }

/* New Changelog */
.new li:before {  font-size: 59%;   vertical-align: 20%;   color: #CAB486;  }
.new li { text-indent: -15px; }
.new li p { text-indent: 0; }
.new > h3 + small { font-size: 70%; margin: 0 0 2em; display: block; text-transform: uppercase; }

.new p { text-align: left; border-bottom: none; margin-bottom: 1em; }

.notice { clear: both; margin-bottom: 2em; }
.notice img { float: left; display: block; margin: 9px 1.5em 1em 9px; width: 200px; border-radius: 10px; }
.notice:nth-of-type(2) img { float: right; margin-right: 9px; margin-left: 1.5em; }
.notice h4 { text-align: left; margin-bottom: 1em; margin-top: 0.5em; }
.notice li, .notice h4 { width: auto; max-width: 100%; }
.notice ul { margin-left: 0; }

.changelog li, .changelog h4, .changelog h5 { min-width: 480px; max-width: 42em; max-width: 42rem; width: auto; }


img[src$='chrome-frame.png'] { margin-top: -2em; }
.festal { 
  font-family: Garamond,Georgia, serif;
  display: block;
  text-indent: 0;
  border-radius: 2px;
  padding: 1px 6px;
  border-bottom: 1px dotted  #fe57a1;;
}
.festal:hover {
  background: #fe57a1;
  color: white;
}

.sigcommits li::before { display:none !important; }
.sigcommits li { text-indent: 0;}

/* SOURCE */
.js .source .syntaxhighlighter { display: none; }

.source h4 {
  text-shadow: none;
  border-top: 2px dotted #1e2322;
  text-transform: lowercase;
  margin: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

html .source h4 { font-family: sans-serif; }

.source h4:last-of-type { border-bottom: 2px dotted #1e2322; }
.source h4 a { 
  display: block; 
  padding: 1em 0;
  -moz-transition: background 0.2s ease-out, opacity 0.2s ease-out; 
  -o-transition: background 0.2s ease-out, opacity 0.2s ease-out; 
  -webkit-transition: background 0.2s ease-out, opacity 0.2s ease-out; 
  -ms-transition: background 0.2s ease-out, opacity 0.2s ease-out;
  text-shadow: 1px 1px 1px #000;
  position: relative;
 } 
 
.source h4 a:after {
 content: "[ view code ]";
 opacity: 0;
 position: absolute;
 padding-left: 1em;
 font-size: 0.6em;
 line-height: 2.5;
 text-transform: uppercase; 
 color: #e3d7bf;
}
 

.source h4 a.active:after { content: " [ hide code ]"; } 
.source h4 a:hover,
.source h4 a.active { background-color: #2B3F45; }
.source h4 a:hover:after { opacity: 1; }

/* VIDEOS */
.videos { margin-bottom: 2em; }
.videos ul { margin: 1em; text-align: center; border: 2px dotted #1e2322; padding: 0.5em 0; border-width: 2px 0; }
.videos li { border: 0; display: inline-block; width: auto; min-width: 0; max-width: auto; padding-left: 0; font-size: 0.8em; list-style: none;vertical-align: top; }
.videos li img { display: block; box-shadow: 0 0 1em #000; margin-bottom: 0.5em; -webkit-transition: -webkit-transform 0.2s ease-out; -o-transition: -o-transform 0.2s ease-out; -moz-transition: -moz-transform 0.2s ease-out; transition: transform 0.2s ease-out; width: 212px; height: 120px;}
.videos li:before { content: ""; padding-left: 0; }
.videos li a.active { color: inherit; }
.videos li a.active img { box-shadow: 0 0 1em #E3D7BF; }
.videos li a:hover img { -webkit-transform: scale(1.2); -o-transform: scale(1.2); -moz-transform: scale(1.2); }
.videos .video { display: none; position: relative; margin: 0 auto; }
.videos .video-active { display: block; }
.videos .video-active iframe,
.videos .video-active embed { position: absolute; top: 0; left: 0; }
.videos .video,
.videos .video-active iframe,
.videos .video-active embed { width: 640px; height: 390px; }




html[lang="en-us"] .recos ul { display:none;}

#footer { position: relative; text-align: center; padding: 12px 0; }
#footer p:first-of-type a { display: inline-block; margin-top: 24px; line-height: 1.5; font-size: 1.2em; }
#footer a { white-space: nowrap; color: inherit; line-height: 1.8; font-size: 0.9em; }
#footer p:first-of-type a img { float: left; margin: 0 0.5em 0 0;}
#footer p:first-of-type a { display: inline-block; width: 13em; text-align: left; }              
#footer p:first-of-type i { display: block; font-style: normal; font-size: 0.8em; }
#footer li { display: inline; margin: 0 1em 0 0; }

/* IN-LINE STAR BULLETS */
#footer li:after, .social a:after, .lang a:after { content: " ★"; padding-left: 1em; color: #e3d7bf; font-style: normal; }                           
#container[dir="rtl"] .social a:after { padding-left: 0; padding-right: 1em; }

#footer li:last-child:after, .social a:last-child:after, .lang a:last-child:after, html[lang="sr"] p.lang a[lang="nl"]:after { content: ""; }  


/* =============================================================================
   Non-semantic helper classes
   ========================================================================== */


.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

.hidden { display: none; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

@media screen and (max-width: 980px) {
  figure { display: block; float: none; margin: 1em auto; }
  .notice h4 { text-align: center; margin-bottom: 1em; margin-top: 1.5em; }
  .notice li { margin: 0; }
  div > ul > li { margin-left: 0; margin-right: 0; min-width: 0; max-width: 100%; width: 100%; padding: 0.25em 0; }
  #header p, #body p.dwn + p i, div > h3, div > h4,  div > ul > li, #disqus_thread, #footer, #builder, .new, { width: 90%; max-width: 100%; }
  .videos .video-active iframe,
  .videos .video-active embed,
  .videos .video,
  .buildgraphics iframe { width: 300px; height: 182px; margin: 0 auto; }  
  .buildgraphics iframe { height: 247.2px; }
}

@media screen and (max-device-width: 480px) {
  h1 { font-size: 5em; line-height: 1; margin-bottom: 0.25em; }
  h1 b { font-size: 0.5em; line-height: 2; display: block; }           
  body { font-size: 1em; }  
  figure { width: 80%; }
  figure img { width: 100%; }
  em, h3 { font-size: 1.5em; }
  h4 { line-height: 1.2; }
}