/* 
  HTML5 ★ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/*
 * Base
 */

/* Mobile phones will adjust text size when the screen orientation changes unless you include a special CSS parameter */
body {
    -webkit-text-size-adjust: none;
}

#thesource  span{
	cursor: pointer;
	cursor: hand;
	text-decoration:underline;
}
/* 
 * Helper classes 
 */
 
/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* Text overflow with ellipsis */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea.contenteditable {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.hidden {position: absolute; left: -100%;}





/* Primary Styles
   Author:
*/

@font-face { font-family: "MolotRegular"; src: url('../assets/Molot.eot'); src: local("../assets/Molot"), local("../assets/Molot"), url('../assets/Molot.ttf') format("truetype"), url('../assets/Molot.svg#Molot') format("svg"); }
@font-face { font-family: "InsolentRegular"; src: url('../assets/insolent.eot'); src: url('../assets/insolent.ttf') format('truetype'), url('../assets/insolent.svg#webfontD7S5Wv86') format('svg'); }

h1, em, #main h3, #disqus_thread h3, h4 { font-family: "InsolentRegular", Arial, sans-serif; text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871, 5px 5px 0px #476871, 6px 6px 0px #476871, 7px 7px 0px #476871; }   

html[lang='en'] h1, html[lang='en'] em, html[lang='en'] #main h3, html[lang='en'] #disqus_thread h3, html[lang='en'] h4, html[lang='en-us'] h1, html[lang='en-us'] em, html[lang='en-us'] #main h3, html[lang='en-us'] #disqus_thread h3, html[lang='en-us'] h4 { font-family: "MolotRegular", Arial, sans-serif; } 



/* we do not need to link to ourselves. only our friends. <3 */
 
html[lang="en-us"] p.lang a[lang="en-us"],
html[lang="de-de"] p.lang a[lang="de-de"],
html[lang="pt-br"] p.lang a[lang="pt-br"],
html[lang="fr-fr"] p.lang a[lang="fr-fr"],
html[lang="it"]    p.lang a[lang="it"],
html[lang="nl"]    p.lang a[lang="nl"],
html[lang="sr"]    p.lang a[lang="sr"],
html[lang="ru"]    p.lang a[lang="ru"] {
  display : none;
}

h1 i { font-family: arial, helvetica, sans-serif; font-style: normal; } 

h4, #main h4 em { font-size: 25px; margin: 25px 0 10px;}
h4 em { font-style: normal; }

h1 { font-size: 6em; line-height: 1.5; text-align: center; cursor: default; }
h1 b { clear: both; }
h1:hover { color: #e16734; }

body { background: #232927; text-align: center; font: 300 12px/18px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif; }

a, a:visited { color: #e3d7bf; text-decoration: none; } 
#main ul a, a:hover, a:focus, #main p a, .disqus-wrapper a, p.lang a { color: #e16734; }

#container b.border-a { display: block; position: fixed; top: 50%; left: -1em; width: 1em; height: 100%; z-index: -1; background: #212624; -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; -o-transform: scale(1.5) rotate(-45deg); -o-transform-origin: 20% 0%; border: 1px dotted #1e2322; }
#container b.border-b { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%; -o-transform: scale(1.5) rotate(45deg); -o-transform-origin: 80% 0%; left: auto; right: -1em; }
#container b.border-c { -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; -o-transform: scale(1.5) rotate(-45deg); -o-transform-origin: 20% 0%; left: 2em; top: 0; }
#container b.border-d { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%;  -o-transform: scale(1.5) rotate(45deg); -o-transform-origin: 80% 0%; left: auto; right: 2em; top: 0; }
#container {color: #e3d7bf;}
#main, .disqus-wrapper { font-size: 1.5em; padding: 1em 0; }

header p, #main p.dwn + p i, #main h3, #main li, #disqus_thread, #footer { margin:0 auto; width: 78%; display: block; font-style: normal; }
header p { margin: 1em auto 0.5em auto; text-transform: none; font-size: 15px; line-height: 1.4; text-align: left;}  
header h2 { font-size: 1.5em; margin-bottom: 1.5em; }
h2 + p { font-size: 14px; } 

header p.lang { font-size: 1em; width: 99%; text-align: right; border-top: 2px dotted #1e2322; padding-right: 1%;}

/* BUTTONS */                                               
#main .dwn a, a[href="#dsq-content"] { position: relative; display: inline-block; padding: 0.5em 1.5em; line-height: 1em; background: rgba(225, 103, 52, 0.8); color: #e3d7bf; margin: 0 0.5em; text-shadow: black 0px 1px 0px; -moz-box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); -webkit-box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3); -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out;-webkit-transition: all 0.2s ease-out; letter-spacing: 0.5px; } 
#main .dwn a:before, #main .dwn a:after, a[href="#dsq-content"]:before, a[href="#dsq-content"]:after { position: absolute; top: 0; left: 0; height: 0; border: 1em solid #000; content: ""; border-color: transparent transparent transparent #232927; }   
#main .dwn a:after, a[href="#dsq-content"]:after { left: auto; right: 0; border-color: transparent #232927 transparent transparent;}
#main .dwn a:hover, a[href="#dsq-content"]:hover { -moz-box-shadow: inset 0px 0px 30px #8b4020; -webkit-box-shadow: inset 0px 0px 30px #8b4020; box-shadow: inset 0px 0px 30px #8b4020; }


.bptext { font-size: 0.8em; line-height: 2em; text-transform: uppercase; }

.dwn { line-height: 1.5em; padding: 0.5em 0; text-transform: uppercase; }
.dwn i { vertical-align: top; font-style: normal; }    
.dwn a:visited { color: #fff; }   
.dwn span { display: inline-block; vertical-align: middle;}
.dwn span small { display:block; margin-top: 0.5em; font-size: 0.6em; line-height: 1em; }

.social, .lang { padding-bottom: 0; } 
.social a, p.lang a { font-size: 0.9em; padding: 0 0 0 1em; white-space: nowrap; line-height: 2em; text-transform: uppercase; }
.social a:hover, p.lang a:hover { color: #e3d7bf; text-shadow: #476871 1px 1px 0px; }

#frame {background:#333f3b; width:600px; margin:1em auto 0 auto; padding:10px;}
#frame div{background:#fff;}

#main ul { font-size: 0.9em; text-align: left; }  
#main em { margin-right: 0.2em; }
#main em, #main h3, #disqus_thread h3 { font-size: 2em; line-height: 1.2; }
#main h3, #disqus_thread h3 { margin: 1em auto 0.5em auto; }  
#main i { padding: 1em 0; }          
#main p.social i { padding: 0.5em 0; } 
#main p.social i:first-child { padding-bottom: 0; }
#main p.social i:last-child { padding-top: 0; }
#main p, p.lang { border-bottom: 2px dotted #1e2322; padding-bottom: 0.5em; text-shadow: 1px 1px 0px black; margin: 0; font-size: 0.9em; }                 
#main p.social, p.lang { padding-bottom: 0; }
#main embed { margin-bottom: 0.5em; }
#main li { line-height: 2; width: 42em; }
#main li:before { content: "★"; padding-right: 0.5em; }
#main li {border-bottom: 2px dotted #1e2322;}  
#main li:last-child { border-bottom: 0; }

a[href="#dsq-content"] { color: inherit; text-shadow: 1px 1px 0 black; }

#source {display:none;}
#source h4 {
  font-family: sans-serif;
  text-shadow: none;
  border-top: 2px dotted #1e2322;
  text-transform: lowercase;
  margin: 0;
  font-size: 1em;
}

#source h4:last-of-type { border-bottom: 2px dotted #1e2322; }
#source h4 a { 
  display: block; 
  padding: 1em 0;
  -moz-transition: background 0.2s ease-out, opacity 0.2s ease-out; 
  -o-transition: background 0.2s ease-out, opacity 0.2s ease-out; 
  -webkit-transition: background 0.2s ease-out, opacity 0.2s ease-out; 
  -ms-transition: background 0.2s ease-out, opacity 0.2s ease-out;
  text-shadow: 1px 1px 1px #000;
  position: relative;
 } 
 
#source h4 a:after {
 content: "[ view code ]";
 opacity: 0;
 position: absolute;
 padding-left: 1em;
 vertical-align: 10%;
 font-size: 0.6em;
 line-height: 2;
 text-transform: uppercase; 
 color: #e3d7bf;
}
 
#source h4 a.active:after { content: " [ hide code ]"; } 
#source h4 a:hover,
#source h4 a.active { background-color: #2B3F45; }
#source h4 a:hover:after { opacity: 1; }

footer { position: relative; text-align: center; padding: 1em 0;}
footer p { font-size: 1.2em; line-height: 3; } 
footer em { font-style: normal; }
footer .focus { font-size: 1.5em; margin-right: 1em; }  
footer p:first-child { margin: 1em 0;}
footer p:first-child em { vertical-align: top; line-height: 2; }  
footer p:first-child a img { float: left; margin: 0 0.5em 0.5em 0;}
footer p:first-child a { display: inline-block; width: 13em; text-align: left; line-height: 1.5; font-size: 1.2em; }              
footer p:first-child i { display: block; font-style: normal; font-size: 0.8em; }
footer p+p, #footer li, #main li, #footer p:first-child i, #disqus_thread { text-transform: none; }
footer li { display: inline; margin: 0 1em 0 0; } 
footer a { white-space: nowrap; }                                                    

/* IN-LINE STAR BULLETS */
footer li:after, .social a:after, .lang a:after { content: " ★"; padding-left: 1em; color: #e3d7bf; }
footer li:last-child:after, .social a:last-child:after, .lang a:last-child:after, html[lang="sr"] p.lang a[lang="nl"]:after { content: ""; }  

#disqus_thread { display: none; padding-top: 0; } 
#disqus_thread h3 { margin-top: 0.5em; }
#disqus_thread h3, #disqus_thread .dsq-options { text-align: center; }
#disqus_thread .dsq-comment-body { font-size: 1.2em; } 
#disqus_thread li:after { border: 0; }
#disqus_thread h4 { font-family: inherit; text-shadow: none; font-size: 1em; }


/*
 * Media queries for responsive design
 */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 569px) {
/* Styles */
  h1 { font-size: 2em; margin:0.5em 0; }
  header h2 { font-size: 1.5em; margin-bottom: 0.5em; }
  header p, #main p.dwn + p i, #main h3, #main li, #disqus_thread, footer { width: 96%; }  
  header p { font-size:12px; }   
  #main, .disqus-wrapper { font-size: 0.8em; }  
  #main em, #main h3, .disqus-wrapper h3{ font-size: 1.5em; }
  #main ul { font-size: 1.2em; } 
  #main li { text-align:center; }
  footer p { font-size: 12px; line-height: 1.2em; padding-top:0;  } 
  h1 {text-shadow: 1px 1px 0px #476871, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871; }
  h2 {text-shadow: 1px 1px 0px #476871, 2px 2px 0px #476871, 3px 3px 0px #476871; }
  #main h3, #disqus_thread h3, footer em{text-shadow: 1px 1px 0px #476871, 2px 2px 0px #476871;}
  em, h4   {text-shadow: 1px 1px 0px black;}
  .dwn span small { font-size: 1.0em; line-height: 1.2em; }
  footer p:first-child { margin: 0 0 1em 0;}
  
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-device-width: 569px) {
/* Styles */
footer p:first-child a {display:block; height:60px; margin:0 auto;}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (max-device-width: 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

