<!doctype html>
<!--[if lt IE 7 ]> <html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_DIRECTION }}" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_DIRECTION }}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_DIRECTION }}" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_DIRECTION }}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_DIRECTION }}" class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
  <meta charset="utf-8">

  <title>{% blocktrans %}Comment archive : HTML5 Boilerplate{% endblocktrans %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="favicon.png" >
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" type="text/css" media="screen" href="css/screen.css" >
  <link type="text/css" rel="stylesheet" media="screen" href="css/shCore.css" >

  <!-- JavaScript at the bottom -->
  <script src="js/libs/modernizr-1.5.min.js"></script>
</head>
<body>
  <div id="container">
    <b class="border-a"></b>
    <b class="border-b"></b>
    <b class="border-c"></b>
    <b class="border-d"></b>


    <div id="body">
     	 <h3>{% blocktrans %}Comment Archive{% endblocktrans %}</h3>
	      <p class="bptext">{% blocktrans %}from before October 26th 2010{% endblocktrans %} </p>
		</div>
    <div class="disqus-wrapper">
      <div id="disqus_thread" style="display:block;">
       <!--  <h3>{% blocktrans %}Comments{% endblocktrans %}</h3> -->
      </div>

    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>



  <script>
    var disqus_developer = ( /file/.test(location.protocol) || /(localhost|dropbox)/.test(location.host) ) ? undefined : 1;
		var disqus_url = 'http://html5boilerplate.com/commentarchive.html'; // all the old comments
// var disqus_category_id = 442246; // no cat ID cuz it this is the old shit
    (function() {

     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://boilerplate.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>{% blocktrans %}Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=boilerplate">comments powered by Disqus.</a>{% endblocktrans %}</noscript>

  <script>
   var _gaq = [['_setAccount', 'UA-17904194-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = 1;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

</body>
</html>
