<!doctype html public "✰">
<!--[if lt IE 7]> <html lang="{{ LANGUAGE_CODE }}" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="{{ LANGUAGE_CODE }}" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="{{ LANGUAGE_CODE }}" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE }}" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
  
  <title dir="{{ LANGUAGE_DIRECTION }}">{% blocktrans %}HTML5 Boilerplate - A rock-solid default template for HTML5 awesome.{% endblocktrans %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">  

  <link rel="stylesheet" media="screen" href="css/style.css?v=2" >
  <link rel="stylesheet" media="screen" href="css/shCore.css?v=2" >

  <!-- JavaScript at the bottom, except for Modernizr -->
  <script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
  <div id="container"  dir="{{ LANGUAGE_DIRECTION }}"> 
    <header id="header">  
         <p class="lang" dir="ltr">{% blocktrans %}Now offered in:{% endblocktrans %}
           <a href="http://html5boilerplate.com" lang="en-us">English</a>
           <a href="http://es.html5boilerplate.com" lang="es">Español</a>
           <a href="http://de.html5boilerplate.com" lang="de-de">Deutsch</a>
           <a href="http://br.html5boilerplate.com" lang="pt-br">Português</a>
           <a href="http://fr.html5boilerplate.com" lang="fr-fr">Français</a>
           <a href="http://it.html5boilerplate.com" lang="it">Italiano</a>
           <a href="http://nl.html5boilerplate.com" lang="nl">Nederlands</a>
           <a href="http://sr.html5boilerplate.com" lang="sr">Srpski</a>
           <a href="http://ro.html5boilerplate.com" lang="ro-ro">Română</a>
           <a href="http://ru.html5boilerplate.com" lang="ru">По-русски</a>
           <a href="http://he.html5boilerplate.com" lang="he">עברית</a>
           <a href="http://ja.html5boilerplate.com" lang="ja">日本語</a>            
         </p>        
         <h1>HTML5  <i>&#x2605;</i> <b>Boilerplate</b></h1> 
         <h2>{% blocktrans %}A rock-solid default for HTML5 awesome.{% endblocktrans %}</h2>
         
         <a href="#intro" class=introtoggle>{% blocktrans %}I'm new here: plz explain why it's so awesome, first.{% endblocktrans %}</a>
           
         <div id="intro" > 
           <p>{% blocktrans %}HTML5 Boilerplate is the professional badass's base HTML/CSS/JS template for a fast, robust and future-safe site.{% endblocktrans %}</p>
           <p>{% blocktrans %}After more than three years in iterative development, you get the best of the best practices baked in: cross-browser normalization, performance optimizations, even optional features like cross-domain Ajax and Flash. A starter apache .htaccess config file hooks you the eff up with caching rules and preps your site to serve HTML5 video, use @font-face, and get your gzip zipple on.{% endblocktrans %}</p>
           <p>{% blocktrans %}Boilerplate is not a framework, nor does it prescribe any philosophy of development, it's just got some tricks to get your project off the ground quickly and right-footed.{% endblocktrans %}</p>
       
       
           <h3>{% blocktrans %}Why it is awesome{% endblocktrans %}</h3> 
           <ul> 
             <li>{% blocktrans %}Cross-browser compatible (IE6, yeah we got that.){% endblocktrans %}</li> 
             <li>{% blocktrans %}HTML5 ready. Use the new tags with certainty.{% endblocktrans %}</li> 
             <li>{% blocktrans %}Optimal caching and compression rules for grade-A performance{% endblocktrans %}</li> 
             <li>{% blocktrans %}Best practice site configuration defaults{% endblocktrans %}</li> 
             <li>{% blocktrans %}Mobile browser optimizations{% endblocktrans %}</li> 
             <li>{% blocktrans %}Progressive enhancement graceful degradation &hellip; yeah yeah we got that{% endblocktrans %}</li> 
             <li>{% blocktrans %}IE specific classes for maximum cross-browser control{% endblocktrans %}</li> 
             <li>{% blocktrans %}Handy .no-js and .js classes to style based on capability{% endblocktrans %}</li> 
           </ul> 
           
           <h3>{% blocktrans %}Why it is awesome-er{% endblocktrans %}</h3> 
           <ul> 
             <li>{% blocktrans %}Console.log nerfing so you won't break anyone by mistake.{% endblocktrans %}</li> 
             <li>{% blocktrans %}Never go wrong with your doctype or markup!{% endblocktrans %}</li> 
             <li>{% blocktrans %}An optimal print stylesheet, performance optimized.{% endblocktrans %}</li> 
             <li>{% blocktrans %}iOS, Android, Opera Mobile-adaptable markup and CSS skeleton.{% endblocktrans %}</li> 
             <li>{% blocktrans %}.clearfix, .visuallyhidden classes to style things wisely and accessibly.{% endblocktrans %}</li> 
             <li>{% blocktrans %}.htaccess file that allows proper use of HTML5 features and faster page load{% endblocktrans %}</li> 
             <li>{% blocktrans %}CDN hosted jQuery with local fallback failsafe.{% endblocktrans %}</li> 
             <li>{% blocktrans %}Think there's too much? The HTML5 Boilerplate is delete-key friendly. :){% endblocktrans %}</li> 
           </ul>
            
            <h3>{% blocktrans %}Want to dive in?{% endblocktrans %}</h3>
         </div>
    </header>

    <div id="body">

      <p class="bptext">{% blocktrans with "3.0" as version %}Download Boilerplate {{ version }}{% endblocktrans %}  <small>{% blocktrans %}Updated Aug 10th{% endblocktrans %}</small></p>

      <p class="dwn">
        <span><a href="http://github.com/h5bp/html5-boilerplate/zipball/v3.0">{% blocktrans %}<u>Download</u> Boilerplate {% endblocktrans %}</a> <small>{% blocktrans %}Keep the hints and links{% endblocktrans %}</small></span>
        <i>{% blocktrans %}or{% endblocktrans %}</i>
        <span><a href="http://github.com/h5bp/html5-boilerplate/zipball/v3.0stripped">{% blocktrans %}<u>Download</u> Boilerplate "stripped"{% endblocktrans %}</a> <small>{% blocktrans %}No comments, just the bizniss.{% endblocktrans %}</small></span>
        <i>{% blocktrans %}or{% endblocktrans %}</i>        
        <span><a id="builder-custom" href="#builder">{% blocktrans %}<u>Customize</u> Boilerplate{% endblocktrans %}</a> <small>{% blocktrans %}100&#37; hipster.{% endblocktrans %}</small></span>        
      </p>

      <div class="focus">
        <div id="builder">     
          <div id="jquery">
            <h4>{% blocktrans %}jQuery{% endblocktrans %}</h4>
            <label><input checked type='checkbox' name="jquery" id='jquerymin'> {% blocktrans %}Minified{% endblocktrans %}</label>                        
            <label><input type='checkbox' name="jquery" id='jquerydev'> {% blocktrans %}Unminified{% endblocktrans %}</label>            
          </div>

          <div id="config">
            <h4>{% blocktrans %}Server Config{% endblocktrans %}</h4>            
            <label><input checked type='checkbox' id='h5bp-htaccess'> .htaccess</label>                        
            <label><input type='checkbox' id='h5bp-nginx'> nginx.conf</label>            
            <label><input type='checkbox' id='h5bp-webconfig'> web.config</label>                        
          </div>  
          <div id="rest">
            <h4>{% blocktrans %}Others{% endblocktrans %}</h4>
            <label><input checked type='checkbox' id='h5bp-iecond'> {% blocktrans %}All IE classes{% endblocktrans %}</label>
            <label><input checked type='checkbox' id='h5bp-scripts'> {% blocktrans %}script.js & plugin.js{% endblocktrans %}</label>                        
            <label><input checked type='checkbox' id='h5bp-analytics'> {% blocktrans %}Google Analytics Snippet{% endblocktrans %}</label>                     
            <label><input checked type='checkbox' id='h5bp-chromeframe'> {% blocktrans %}User-installable Chrome Frame for IE6{% endblocktrans %}</label>                                             
          </div>

            <p>{% blocktrans %}<a href="http://www.initializr.com/builder?mode=h5bp&amp;" id="builder-download">Download!</a> Are these options not enough? Go to <a href="http://initializr.com">Initializr</a> for more!{% endblocktrans %}</p>
        </div>        
      </div>    

			<p class="social">
				<i>
					<a href="//html5boilerplate.com/docs/">{% blocktrans %}Read the docs{% endblocktrans %}</a>        
					<a href="http://github.com/h5bp/html5-boilerplate">{% blocktrans %}Contribute on Github {% endblocktrans %}</a>             
					</i>
					<i>
						<a href="http://twitter.com/h5bp">{% blocktrans %}Follow on twitter{% endblocktrans %}</a>      
						<a href="http://groups.google.com/group/html5boilerplate/">{% blocktrans %}Join The Mailing List{% endblocktrans %}</a>
				 </i>
      </p>
    
  <div class="new" id="v2">
    <h3>{% blocktrans %}HTML5 Boilerplate is 3.0!{% endblocktrans %}</h3>
    <small>{% blocktrans %}Monday, Feb 6th, 2012{% endblocktrans %}</small>
		<p>{% blocktrans %}The key feature of this update is making Boilerplate smaller. Most of the changes have been working towards that. We have significant work done to our build script, so much so that we thought it <a href="#">deserved its own repository</a>. Meanwhile, here is what's new.{% endblocktrans %}</p>      
          
    <div class="changelog">
      <h3>{% blocktrans %}Changelog{% endblocktrans %}</h3>
      <p>{% blocktrans %}3.0 gets some major updates <a href="https://github.com/h5bp/html5-boilerplate/compare/v2.0...v3.0">Here are all the commits since last release</a>.{% endblocktrans %}</p>
      <p><a href="http://html5boilerplate.com/docs/FAQs/#do-i-need-to-upgrade-my-sites-to-a-new-version">{% blocktrans %}Should you upgrade existing sites</a>? Short answer: nah, you're good.{% endblocktrans %}</p>

			<h4>{% blocktrans %}Significant changes{% endblocktrans %}</h4>
		 
			<ul class="sigcommits">
				 <li>{% blocktrans %}Removed a lot of folders: <code>/demos</code>, <code>/test</code>, and <code>/js/mylibs</code>.{% endblocktrans %}
				 <li>{% blocktrans %}Build script is now a separate project, <a href="#">Read about how to get and use the build script</a>{% endblocktrans %}
				 <li>{% blocktrans %}Respond.js is no longer available by default. <a href="#">Read about what you should consider for your mobile development strategy</a>.{% endblocktrans %}
       </ul>                                                                                                                                        


			<h4>index.html</h4>
      <ul>
				<li>{% blocktrans %} Chromeframe no longer applied via script. IE6 users are served links to install Chromeframe or visit Browsehappy to choose an alternative browser.  {% endblocktrans %}
        <li>{% blocktrans %}Meta viewport updated to prevent iOS scaling bugs.  {% endblocktrans %}
        <li>{% blocktrans %}<code>html</code> IE classes now target lower than a specific version rather than explicitly specified versions.  {% endblocktrans %}
        <li>{% blocktrans %}Switch back to the optimized asynchronous Google Analytics snippet instead of using <code>Modernizr.load</code>.  {% endblocktrans %}
        <li>{% blocktrans %}Drop <code>refer</code> from all scripts to avoid legacy IE bugs.{% endblocktrans %}
        <li>{% blocktrans %}Design of the 404 has been improved.{% endblocktrans %}
      </ul>

      <h4>style&shy;.css</h4>
      <ul>
        <li>{% blocktrans %}Removed default font sizes and line heights to provide a much better robust default.  {% endblocktrans %}
        <li>{% blocktrans %}Additions made to normalize.css and to provide better default typography.{% endblocktrans %}
        <li>{% blocktrans %}More robust .ir helper class.{% endblocktrans %}
        <li>{% blocktrans %}No more forced scrollbars, this impedes projects like jQuery UI, and others in calculating widths.{% endblocktrans %}
      </ul>
      

      <h4>{% blocktrans %}Project{% endblocktrans %}</h4>
      <ul>
        <li>{% blocktrans %}Updated to Modernizr 3.0{% endblocktrans %}
        <li>{% blocktrans %}Updated to jQuery 1.7.1{% endblocktrans %}
        <li>{% blocktrans %}Improved .htaccess{% endblocktrans %}
      </ul>
		</div>
  </div>
	 
		<div class="videos" id="videos">
			<h3>{% blocktrans %}Videos{% endblocktrans %}</h3>
			<ul>
				 <li><a href="http://www.youtube.com/watch?v=NMEB78VX2P0"> 
					 <img src="/img/gettingstarted-thumb.jpg" alt="Video on Boilerplate">            
					 {% blocktrans %}Ready to get started?{% endblocktrans %}</a> <strong>{% blocktrans %}new!{% endblocktrans %}</strong></li>
				<li><a href="http://www.youtube.com/watch?v=OXpCB3U_4Ig"> 
					<img src="/img/buildscript-thumb.jpg" alt="Video on Boilerplate">            
					{% blocktrans %}Intro to the Build Script{% endblocktrans %}</a> <strong>{% blocktrans %}new!{% endblocktrans %}</strong></li>
				<li><a href="http://www.youtube.com/watch?v=oDlsOyPKUTM">
					<img src="/img/video-lowdown-thumb.jpg" alt="Video on Boilerplate">            
					{% blocktrans %}Get the lowdown in 40 minutes, flat!{% endblocktrans %}</a>
				</li>
				<li><a href="http://www.youtube.com/watch?v=qyM37XKkmKQ"> 
					<img src="/img/video-thumb.png" alt="Video on Boilerplate">            
					{% blocktrans %}Dig deeper in 60 minutes{% endblocktrans %}</a></li>        
			</ul>
		</div>
	</div>
    <footer id="footer">
      <h3>{% blocktrans %}Brought to you by{% endblocktrans %}</h3>      
      <p>
        <a href="http://paulirish.com"><img width="50" height="50" src="img/paul-irish.png" alt=""> Paul Irish <i>{% blocktrans %}Google Chrome, jQuery{% endblocktrans %}</i></a>
        <a href="http://nimbupani.com"><img width="50" height="50" src="img/divya-manian.png" alt="">Divya Manian <i>{% blocktrans %}Web Opener @ Opera{% endblocktrans %}</i></a>
        <a href="http://www.blog.highub.com/"><img width="50" height="50" src="img/shichuan.png" alt="">Shichuan <i>{% blocktrans %}Open Web Developer{% endblocktrans %}</i></a>
        <a href="http://mathiasbynens.be/"><img width="50" height="50" src="img/mathias-bynens.png" alt="">Mathias Bynens <i>{% blocktrans %}Freelance web developer{% endblocktrans %}</i></a>    
        <a href="http://nicolasgallagher.com/"><img width="50" height="50" src="img/nicolas-gallagher.png" alt="">Nicolas Gallagher <i>{% blocktrans %}Front-End Web Developer{% endblocktrans %}</i></a>                                
      </p> 
      <ul>
        <li><a href="http://blog.mklog.fr/">Mickael Daniel</a></li>
        <li><a href="http://twitter.com/verekia">Jonathan Verrecchia</a></li>
        <li><a href="http://htmlcssjavascript.com/">Rob Larsen</a></li>
        <li><a href="http://mikewest.org/">Mike West</a></li>   
        <li><a href="https://github.com/h5bp/html5-boilerplate/contributors">{% blocktrans %}More Contributors{% endblocktrans %}</a></li>
      </ul> 
      
      <p>{% blocktrans %}It would not have been possible without the efforts of these superheroes:{% endblocktrans %}</p>
      
      <ul>
        <li><a href="http://www.phpied.com">Stoyan Stefanov</a></li>
        <li><a href="http://www.splintered.co.uk/">Patrick H Lauke</a></li>
        <li><a href="http://farukat.es/">Faruk Ate&#351;</a></li>
        <li><a href="http://remysharp.com/">Remy Sharp</a></li>
        <li><a href="http://blog.amodernfable.com/">Adam McIntyre</a></li>
        <li><a href="http://tjkdesign.com/">Thierry Koblentz</a></li>
        <li><a href="http://miketaylr.com">Mike Taylor</a></li>
        <li><a href="http://twitter.com/jon_neal">Jonathan Neal</a></li>
        <li><a href="http://camendesign.com">Kroc Camen</a></li>
        <li><a href="http://fontsquirrel.com">Ethan Dunham</a></li>
        <li><a href="http://peter.sh">Peter Beverloo</a></li>         
        <li><a href="http://www.viget.com/inspire/">Viget</a></li>
        <li><a href="http://stevesouders.com/">Steve Souders</a></li>
        <li><a href="http://na.isobar.com/standards/">Isobar Creative Technology team</a></li>
      </ul>
    </footer>
         
  </div>

  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end scripts-->

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
