/*
 * HTML5 ✰ Boilerplate
 *
 * {% blocktrans %}What follows is the result of much research on cross-browser styling. {% endblocktrans %}
 * {% blocktrans %}Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,{% endblocktrans %}
 * {% blocktrans %}Kroc Camen, and the H5BP dev community and team.{% endblocktrans %}
 *
 * {% blocktrans %}Detailed information about this CSS: h5bp.com/css{% endblocktrans %}
 */


/* =============================================================================
   {% blocktrans %}HTML5 element display{% endblocktrans %}
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   {% blocktrans %}Base{% endblocktrans %}
   ========================================================================== */

/*
 * 1. {% blocktrans %}Correct text resizing oddly in IE6/7 when body font-size is set using em units{% endblocktrans %}

 *    http://clagnut.com/blog/348/#c790
 * 2. {% blocktrans %}Force vertical scrollbar in non-IE{% endblocktrans %}

 * 3. {% blocktrans %}Remove Android and iOS tap highlight color to prevent entire container being highlighted{% endblocktrans %}

 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. {% blocktrans %}Prevent iOS text size adjust on device orientation change, without disabling user zoom{% endblocktrans %}

 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * {% blocktrans %}These selection declarations have to be separate{% endblocktrans %}

 * {% blocktrans %}No text-shadow:{% endblocktrans %}
 twitter.com/miketaylr/status/12228805301
 * {% blocktrans %}Also: hot pink!{% endblocktrans %}

 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   {% blocktrans %}Links{% endblocktrans %}
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* {% blocktrans %}Improve readability when focused and hovered in all browsers:{% endblocktrans %}
 people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   {% blocktrans %}Typography{% endblocktrans %}
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* {% blocktrans %}Redeclare monospace font family{% endblocktrans %}: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* {% blocktrans %}Improve readability of pre-formatted text in all browsers{% endblocktrans %} */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* {% blocktrans %}Position subscript and superscript content without affecting line-height{% endblocktrans %}: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   {% blocktrans %}Lists{% endblocktrans %}
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   {% blocktrans %}Embedded content{% endblocktrans %}
   ========================================================================== */

/*
 * 1. {% blocktrans %}Improve image quality when scaled in IE7{% endblocktrans %} http://h5bp.com/d
 * 2. {% blocktrans %}Remove the gap between images and borders on image containers{% endblocktrans %} http://h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * {% blocktrans %}Correct overflow displayed oddly in IE9 {% endblocktrans %}
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   {% blocktrans %}Figures{% endblocktrans %}
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   {% blocktrans %}Forms{% endblocktrans %}
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. {% blocktrans %}Correct color not inheriting in IE6/7/8/9{% endblocktrans %} 
 * 2. {% blocktrans %}Correct alignment displayed oddly in IE6/7{% endblocktrans %} 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* {% blocktrans %}Indicate that 'label' will shift focus to the associated form element{% endblocktrans %} */
label { cursor: pointer; }

/*
 * 1. {% blocktrans %}Correct font-size not inheriting in all browsers{% endblocktrans %}
 * 2. {% blocktrans %}Remove margins in FF3/4 S5 Chrome{% endblocktrans %}
 * 3. {% blocktrans %}Define consistent vertical alignment display in all browsers{% endblocktrans %}
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. {% blocktrans %}Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet){% endblocktrans %}
 * 2. {% blocktrans %}Correct inner spacing displayed oddly in IE6/7{% endblocktrans %}
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * {% blocktrans %}Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7{% endblocktrans %}
 */

table button, table input { *overflow: auto; }

/*
 * 1. {% blocktrans %}Display hand cursor for clickable form elements{% endblocktrans %}
 * 2. {% blocktrans %}Allow styling of clickable form elements in iOS{% endblocktrans %}
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * {% blocktrans %}Consistent box sizing and appearance{% endblocktrans %}
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * {% blocktrans %}Remove inner padding and border in FF3/4{% endblocktrans %}
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. {% blocktrans %}Remove default vertical scrollbar in IE6/7/8/9{% endblocktrans %} 
 * 2. {% blocktrans %}Allow only vertical resizing{% endblocktrans %}
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* {% blocktrans %}Colors for form validity{% endblocktrans %} */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   {% blocktrans %}Tables{% endblocktrans %}
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   {% blocktrans %}Primary styles{% endblocktrans %}
   {% blocktrans %}Author{% endblocktrans %}: 
   ========================================================================== */
















/* =============================================================================
   {% blocktrans %}Non-semantic helper classes{% endblocktrans %}
   {% blocktrans %}Please define your styles before this section.{% endblocktrans %}
   ========================================================================== */

/* {% blocktrans %}For image replacement{% endblocktrans %} */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* {% blocktrans %}Hide for both screenreaders and browsers{% endblocktrans %}:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* {% blocktrans %}Hide only visually, but have it available for screenreaders: by Jon Neal.{% endblocktrans %}
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* {% blocktrans %}Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard{% endblocktrans %}: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* {% blocktrans %}Hide visually and from screenreaders, but maintain layout{% endblocktrans %} */
.invisible { visibility: hidden; }

/* {% blocktrans %}Contain floats{% endblocktrans %}: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   {% blocktrans %}PLACEHOLDER Media Queries for Responsive Design.{% endblocktrans %}
   {% blocktrans %}These override the primary ('mobile first') styles{% endblocktrans %}
   {% blocktrans %}Modify as content requires.{% endblocktrans %}
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* {% blocktrans %}Style adjustments for viewports 480px and over go here{% endblocktrans %} */

}

@media only screen and (min-width: 768px) {
  /* {% blocktrans %}Style adjustments for viewports 768px and over go here{% endblocktrans %} */

}



/* =============================================================================
   {% blocktrans %}Print styles.{% endblocktrans %}
   {% blocktrans %}Inlined to avoid required HTTP connection{% endblocktrans %}: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* {% blocktrans %}Black prints faster{% endblocktrans %}: sanbeiji.com/archives/953 */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* {% blocktrans %}Don't show links for images, or javascript/internal links{% endblocktrans %} */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
