
/* 
  {% blocktrans %}style.css contains a reset, font normalization and some base styles.{% endblocktrans %}
  
  {% blocktrans %}credit is left where credit is due.{% endblocktrans %}
  {% blocktrans %}additionally, much inspiration was taken from these projects:{% endblocktrans %}
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/


/* 
  {% blocktrans %}html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline){% endblocktrans %}
  v1.4 2009-07-27 | {% blocktrans %}Authors{% endblocktrans %}: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* {% blocktrans %}tables still need cellspacing="0" in the markup{% endblocktrans %} */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* {% blocktrans %}END RESET CSS{% endblocktrans %} */


/*
  {% blocktrans %}fonts.css from the YUI Library{% endblocktrans %}
  
  developer.yahoo.com/yui/
  
  {% blocktrans %}Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages{% endblocktrans %}

  {% blocktrans %}There are three custom edits:{% endblocktrans %}
  
  *  {% blocktrans %}remove arial, helvetica from explicit font stack{% endblocktrans %}
  *  {% blocktrans %}make the line-height relative and unit-less{% endblocktrans %}
  *  {% blocktrans %}remove the pre, code styles{% endblocktrans %}
*/
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }


/* {% blocktrans %}normalize monospace sizing{% endblocktrans %} 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 


/* 
 * {% blocktrans %}minimal base styles{% endblocktrans %} 
 */


/* {% blocktrans %}#444 looks better than black{% endblocktrans %}: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color:#444; }

/* {% blocktrans %}Headers (h1,h2,etc) have no default font-size or margin, you'll want to define those yourself.{% endblocktrans %} */ 
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

 
/* {% blocktrans %}Accessible focus treatment:{% endblocktrans %} people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }


ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* {% blocktrans %}align checkboxes, radios, text inputs with their label{% endblocktrans %}
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* {% blocktrans %}hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }


/* {% blocktrans %}No text-shadow{% endblocktrans %}
   {% blocktrans %}These selection declarations have to be separate.{% endblocktrans %}

   {% blocktrans %}Also: hot pink.{% endblocktrans %}
   
   twitter.com/miketaylr/status/12228805301 */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 


/* {% blocktrans %}always force a scrollbar in non-IE{% endblocktrans %} */
html { overflow-y: scroll; }

/* {% blocktrans %}make buttons play nice in IE:{% endblocktrans %}    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* {% blocktrans %}bicubic resizing for non-native sized IMG:{% endblocktrans %} 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * {% blocktrans %}Non-semantic helper classes{% endblocktrans %} 
 */

/* {% blocktrans %}for image replacement{% endblocktrans %} */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* {% blocktrans %}Hide for both screenreaders and browsers{% endblocktrans %}
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* {% blocktrans %}Hide only visually, but have it available for screenreaders{% endblocktrans %} 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* {% blocktrans %}Hide visually and from screenreaders, but maintain layout{% endblocktrans %} */
.invisible { visibility: hidden; }

/* >> {% blocktrans %}The Magnificent CLEARFIX{% endblocktrans %} << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } {% blocktrans %}/* Hides from IE-mac \*/{% endblocktrans %}
.clearfix { display: block; }





 /* {% blocktrans %}Primary Styles{% endblocktrans %}
    {% blocktrans %}Author{% endblocktrans %}: 
 */











/* 
 * {% blocktrans %}print styles{% endblocktrans %}
 * {% blocktrans %}inlined to avoid required HTTP connection{% endblocktrans %} www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }
  
  .ir a:after { content: ""; }  /* {% blocktrans %}Don't show links for images{% endblocktrans %} */
  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  
  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}



/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}

